body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#webcam-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* Ajusta el ancho del contenedor para que coincida con el canvas */
    height: 300px; /* Ajusta el alto del contenedor para que coincida con el canvas */
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff; /* Fondo blanco para que el canvas sea más visible */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-top: 20px;
}

#output {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

#webcam-container canvas {
    border: 2px solid black;
    border-radius: 8px; /* Bordes redondeados para el canvas */
}
