body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#webcam-container {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
}

h1 {
    color: #333;
}
  #webcam-container canvas {
      border: 1px solid black;
  }
